.menu {
    position: relative;
    width: 960px;
    margin: 0;
    padding: 0;
}
.menu li{
  display: inline-block;
  margin: 0 20px;
  padding: 0;
}
.menu li a{
  display: block;
  padding: 10px 20px;
  background: #ccc;
  color: #fff;

}
.menu li a:hover{
  color: #ccc;
  background: #333;
}
