body{
  margin: 0;
  padding: 0;
  background: #88c984;
}
#my-menu .menu {
    position: relative;
    width: 960px;
    margin: 0;
    padding: 0;
    margin: 20px auto;
    text-align: center;
}
#my-menu .menu li{
  display: inline-block;
  margin: 0;
  padding: 0;
}
#my-menu .menu li a{
  display: block;
  padding: 10px 20px;
  background: #ccc;
  color: #fff;
  text-decoration: none;
}
#my-menu .menu li a:hover{
  color: #ccc;
  background: #333;
}

.menu li a{
  color: #000;
}

i.toggle-menu-burger{
  padding: 10px;
right: 20px;
top: 20px;
}

